* {
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Loto";
  src: url(../assets/Lato/Lato-Regular.ttf);
}
html {
 
  font-size: 10px;
}

.wrapper {
  width: 1020px;
  font-family: "Loto", Verdana, sans-serif;
  margin: 0 auto;
}
                                           /* Portfolio */
.portfolio {
  max-width: 1020px;
  background: #2d303a;
  padding: 69px 0 0;
}
.portfolio h2 {
  font-size: 3rem;
  line-height: 18px;
  color: #666d89;
  font-weight: 1000;
  margin-bottom: 26px;
  letter-spacing: .5px;
}
.portfolio p {
  font-size: 1.8rem;
  line-height: 30px;
  color: #767e9e;
  font-weight: 100;
  margin-bottom: 11px;
}
.portfolio__wrap {
  max-width: 942px;
    margin: 0 auto;
}
.portfolio .bottom-line {
  width: 100%;
  height: 6px;
  background-color: #323746;
  margin-top: 45px;
}

.portfolio__nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  color: #767e9e;
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 19px;
}
.nav {
  padding: 3px 6px;
  color: #767e9e;
  border: 1px solid #666d89;
  border-radius: 5px;
  margin-right: 11px;
}
.nav:hover {
  background-color: #0e090956;
  cursor: pointer;
}
.nav_hover_first {
  border-color: #c5c5c5;
  color: #c5c5c5;
}
.nav_hover:hover {
  border-color: #767e9e;
  cursor: pointer;
}
.images {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  flex-wrap: wrap;
  height: 622px;
  overflow: hidden;
}
.img {
  width: 220px;
  height: 187px;
}
.img img {
  width: 100%;
}
                                           /* AboutUs */
.aboutUs {
  max-width: 1020px;
  margin: 0 auto;
  background: #f2f2f2;
  padding: 69px 0 0;
}
.aboutUs__wrap {
  max-width: 942px;
  margin: 0 auto;
}
.aboutUs .bottom-line {
  width: 100%;
  height: 6px;
  background-color: #ffffff;
  margin-top: 65px;
}
.aboutUs_H2 {
  font-size: 3.1rem;
  line-height: 18px;
  color: #666d89;
  font-weight: 1000;
  margin-bottom: 25px;
  letter-spacing: 0.5px;
}
.aboutUs_txt {
  font-size: 1.8rem;
    line-height: 30px;
    color: #767e9e;
    font-weight: 300;
    margin-bottom: 17px;
    word-spacing: .1px;
    letter-spacing: .1px;

  }
  .photos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .photos__block {
    width: 302px;
  }
  .photos img {
    margin-bottom: 14px;
  }
  .photos h3 {
    font-size: 1.8rem;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    margin-bottom: 11px;
  }
  .photos p {
    font-size: 1.2rem;
    line-height: 22px;
    color: #767e9e;
    font-weight: 400;
    margin-bottom: 21px;
  }
  
  .icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }
  .icons div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 6px;
  }
  .icons div img {
    margin: 0;
  }
  .icons div img:hover {
    filter: opacity(.7);
    cursor: pointer;
  }
